<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <img src="/static/images/mfu_logo.png" alt="Logo" height="60px" />
  <a class="navbar-brand" href="/homepage">
    <div style="display: inline-block">
      <h1 style="margin: 0; font-size: 1.5rem">SSID.MFU</h1>
      <div style="border-top: 1px solid gray; width: 100%; margin: 2px 0"></div>
      <h2 style="margin: 0; font-size: 0.9rem">EVENT WI-FI SYSTEM</h2>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="serviceDropdown">
          <a class="dropdown-item" href="/nopassword">No password</a>
          <a class="dropdown-item" href="/psk">Preshared Key</a>
          <a class="dropdown-item" href="/individual">802.1X</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/homepage">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Dowload</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">{{username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logout-link" id="logout-link" href="{{ url_for('logout') }}">Log out</a>
      </li>
    </ul>
  </div>
</nav>
