<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>WI-FI System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/cssmfu.css" />
    <link rel="stylesheet" href="/static/css/dropdown-menu.css" />
    <link rel="stylesheet" href="/static/css/background.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


  </head>
  <body style="background-image: url(/static/images/mfubg_fill.png)">
    {% include 'navbar.html' %}
    <div class="content-container">
      <div class="card">
        <div class="card-header">Shared password pattern</div>
        <div class="card-body">
          <form>
            <div>
              <label for="ssidName" class="form-label"></label>
              <input
                type="text"
                class="form-control"
                id="ssidName"
                placeholder="Please specify SSID name"
              />
            </div>
            <div>
              <label for="activityName" class="form-label"></label>
              <input
                type="text"
                class="form-control"
                id="activityName"
                placeholder="Please specify the activity name"
              />
            </div>
            <div class="">
              <label for="activityName" class="form-label"></label>
              <input
                type="password"
                class="form-control"
                id="activityName"
                placeholder="Please provide password"
              />
            </div>
            <div class="mb-3">
              <label for="activityName" class="form-label"></label>
              <input
                type="password"
                class="form-control"
                id="activityName"
                placeholder="Confirm Password"
              />
            </div>
            <div class="">
              <select class="form-select" id="location">
                <option selected disabled>Please select a location</option>
                <option value="1">Location 1</option>
                <option value="2">Location 2</option>
                <option value="3">Location 3</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="dateRange" class="form-label"></label>
              <input type="text" class="form-control" id="dateRange" placeholder="Select Date(s)" />
          </div>
          
          </form>
        </div>
        <div class="card-footer">
          <button type="button" class="next-btn">Next</button>
        </div>
      </div>
    </div>
        <!-- เรียกใช้navbar -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<SCript> $(document).ready(function() {
  $('#dateRange').daterangepicker({
      autoUpdateInput: false,
      locale: {
          cancelLabel: 'Clear',
          format: 'MM/DD/YYYY'
      }
  });

  $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
  });

  $('#dateRange').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });
});</SCript>
  </body>
</html>
